@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using web_programlama_proje_001.ViewModels
@model DetailsPoliklinikViewModel

<h2>Delete Poliklinik</h2>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="PoliklinikId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <span asp-for="Name" class="form-control" readonly></span>
    </div>
    <div class="form-group">
        <label asp-for="AnaBilimDaliId" class="control-label"></label>
        <span asp-for="AnaBilimDaliId" class="form-control" readonly></span>
    </div>
    <!-- Diğer gerekli alanları ekleyebilirsiniz -->
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>
