@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using web_programlama_proje_001.ViewModels
@model DetailsPoliklinikViewModel
<h2>Details</h2>

<div>
    <h4>Poliklinik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.PoliklinikId</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
 

        <!-- Diğer özellikler buraya eklenebilir -->
    </dl>
</div>
