@using web_programlama_proje_001.ViewModels;
@model CreateAnaBilimDaliViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Create Ana Bilim Dali</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Diğer özellikler buraya eklenebilir -->

    <button type="submit" class="btn btn-primary">Create</button>
</form>
